<h1>John Farmer</h1>

<h3>Business Development/ Entrepreneur</h3>

<p>I’m John, Sales Executive for <a href= "http://cyrusinnovation.com">Cyrus</a> and an aspiring entrepreneur.</p>

<p>I spend my nights connecting with the growing NYC tech community and learning to code on the side.  You can find me mingling amongst the dreamers and delusional at NYC’s demo meetup groups.</p>

<p>I studied Marketing and Entrepreneurship at Colorado State University, and spent a semester in Prague, Czech Republic, learning about some of the finer things that Eastern Europe has to <a href="http://www.rdg.ac.uk/german/images/beer_hall.jpg">offer</a>.</p>

<h4>A little bit about Cyrus:</h4>

<p>We craft custom software for our clients by pairing them with highly functioning teams of trained, expert developers. We build websites, mobile apps, and bring varied industry expertise to help solve complex technical problems.</p>

<div class="footer">
	<small>
		Contact me at johnfarmernyc@gmail.com
	</small>	
</div>




